block variables
doctype html
html
  block head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/public/beta.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title}
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/custom-all.css">
    <script src="/public/socket.io.js"></script>
  
  body
    div.app
        div.wrapper
            nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm
                div.container
                    a(href='/home').navbar-brand 
                        <img src="/public/beta-full.ico"></i>
                    div.collapse.navbar-collapse#navbarSupportedContent
                      ul.navbar-nav.mr-auto
                        a(href='/personen').nav-link Nutzer
                        a(href='/raeume').nav-link Räume
                        //a(href='/cloud').nav-link Cloud
                        a(href='/settings').nav-link Einstellungen
                        
  block layout-content
  block append head 
    <script src="/public/js/ff7e13a967.js" crossorigin="anonymous"></script>
    <script src="/public/js/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/public/js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/public/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/public/index.js" crossorigin="anonymous"></script>
